<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfólio pessoal</title>
    <link rel="stylesheet" href="../css/traject.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>
    <div>
        <header class="w3-display-container w3-container w3-teal" style="display: flex; justify-content: space-between; align-items: center;">
            <div class="title">
                <h2>Trajetória</h2>
            </div>

            <div class="btn-return">
                <button id="back" class="btn-back" ><i class="fa fa-home"></i> &nbsp;Voltar</button>
            </div>
        </header>

        <main>
            <div class="container-main">
                <div class="container-tr">
                    <header class="header-start">
                        <div>
                            <h2>Início</h3>
                        </div>
                        <div>
                            <img src="../img/icons/start.png" alt="" class="start-hover">
                        </div>
                    </header>
                    <p>
                        Ingressei no mundo da programação em novembro de 2021, quando dei os 
                        primeiros passos no estudo da lógica de programação utilizando a linguagem 
                        Python por meio de um curso que adquiri em uma plataforma de ensino. 
                        Em fevereiro de 2022, dei continuidade à minha formação ingressando no curso 
                        de graduação em Análise e Desenvolvimento de Sistemas no Instituto Federal de 
                        Santa Catarina, onde estou atualmente.
                    </p>
                </div>

                <div class="container-tr">                                  
                    <header class="header-start">
                        <div>
                            <h2>Em progresso...</h3>
                        </div>
                        <div>
                            <img src="../img/icons/progress.png" alt="" class="start-hover">
                        </div>
                    </header>
                    <p>
                        Atualmente, atuo como programador de sistemas, combinando minhas responsabilidades 
                        profissionais com uma busca constante por conhecimento. Além dos estudos acadêmicos 
                        em curso, dedico-me a realizar cursos adicionais e a empreender projetos pessoais. <br>

                        Minha dedicação pelo desenvolvimento se estende tanto ao front-end quanto ao back-end. 
                        Ao criar interfaces, busco a simplicidade, a intuição e a responsividade como pilares 
                        essenciais. Já no desenvolvimento back-end, priorizo a construção de aplicações com 
                        uma sólida estrutura de código. Meu objetivo é oferecer soluções compreensíveis para 
                        outros programadores, promovendo a reutilização do código e mantendo um padrão de limpeza.
                    </p>
                </div>
                <div class="container-tr"></div>
            </div>
        </main>
    </div>
    <script src="../scripts/port.js"></script>
</body>
</html>