<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfólio pessoal</title>
    <link rel="stylesheet" href="../css/portifolio.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>

    <!--link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"-->
    
</head>
<body>
    <div class="w3-twothird abc-sc">
        <div class="container-box-main">
          <h3>Conheça alguns de meus projetos pessoais</h3>
          <p>Alguns deles ainda estão sendo desenvolvidos</p>
          <div class="projetos">
            <div class="container-portfolio">
              <div class="container-box-project">

                <h5>Pizzaria</h5>
                <p>Este projeto representa a interface front-end de uma página
                   comercial de uma pizzaria. Futuramente, planejo desenvolver
                   a parte de back-end utilizando o framework Spring
                   Boot e integrando um banco de dados PostgreSQL.
                </p>
                <span>Tecnologias Usadas</span>
                <li>Html, Css e Javascript</li>
                <li>Bootstrap e w3schools</li>
                <li>Font-awesome</li>
                <li>Google fonts</li>  
              </div>

              <div class="container-direct">
                <button id="pizza">Ir para o projeto &nbsp; <i class="fa fa-arrow-right"></i></button>
              </div>
            </div>

            <div class="container-portfolio">
              <div class="container-box-project">
                <h5>Cadastro de contatos</h5>
                <p>
                  Esse projeto, é uma agenda onde o usuário pode criar, modificar, ver e exlcuir um contato.
                  Ele foi desenvolvido em Php e tem interação direta com banco de dados MySQL.
                  Ele é um porjeto simples, porém, bem completo.
                </p>
    
                  <span>Tecnologias Usadas</span>
                  <li>Html, Css e Php</li>
                  <li>Font-awesome</li>
                  <li>Bootstrap</li>
                  <li>Google fonts</li>
              </div>

              <div class="container-direct">
                <button id="pizza">Ir para o projeto &nbsp; <i class="fa fa-arrow-right"></i></button>
              </div>
            </div>
  
            <div class="container-portfolio">
              <div class="container-box-project">
                <h5>MyLife</h5>
                <p>
                  Blog pessoal desenvolvido em Wordpress. Aqui, eu usei a minha criatividade e habilidade
                  com a escrita e desenvolvi um texto sobre tomadas de decisões, dúvidas, etc. O foco
                  não foi o desenvolvimento front ou back end, mas apenas a escrita.
                </p>
                <span>Tecnologias Usadas</span>
                <li>Wordpress</li>
              </div>

              <div class="container-direct">
                <button id="pizza" onclick="wordpress()">Ir para o projeto &nbsp; <i class="fa fa-arrow-right"></i></button>
              </div>
            </div>
        </div>
      </div>

      <div class="btn-return">
        <button id="back" class="btn btn-primary" ><i class="fa fa-home"></i> &nbsp;Voltar para página inicial</button>
      </div>

  
      <script src="../scripts/port.js"></script>

</body>
</html>