<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sobre o projeto</title>
    <link rel="stylesheet" href="../css/projeto.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    

</head>
<body class="w3-teal">
    <div class="container">
        <h1>Sobre esse projeto</h1>
        <p>
            Esse simples projeto, serve como parte do meu portfólio pessoal. Nele,
            o meu intuito é mostrar um pouco sobre minhas habilidades com desenvolvimento
            web. Desenvolvi ele para ser simples e pequeno, por isso que optei por usar apenas
            html, css e Javascript.Também, usei o bootstrap em partes da estilização.
        </p>
    </div>

    <button id="back"><i class="fa fa-home"></i> &nbsp;Voltar para página inicial</button>


    <script src="../scripts/port.js"></script>
</body>
</html>