<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sobre o projeto</title>
    <link rel="stylesheet" href="../css/projeto.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    

</head>
<body class="w3-teal">
    <div class="container">
        <h1>Sobre esse projeto</h1>
        <p>
            Este projeto modesto faz parte do meu portfólio pessoal. Nele, busco destacar 
            algumas das minhas habilidades em desenvolvimento web. Optei por mantê-lo 
            simples e compacto, utilizando apenas HTML, CSS e JavaScript. Além disso, 
            utilizei o Bootstrap em algumas partes da estilização.
        </p>
    </div>

    <button id="back"><i class="fa fa-home"></i> &nbsp;Voltar para página inicial</button>


    <script src="../scripts/port.js"></script>
</body>
</html>